<div class="banner1">
    <div class="header">
        <div class="container">
            <div class="logo">
                <h1><a href="index.html">Motel</a></h1>
            </div>
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!--/.navbar-header-->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="#!/">Home</a></li>
                        <li><a href="rooms.html">Admin</a></li>
                        <li><a href="#!/login">Login</a></li>
                        <li class="active"><a href="#!/register">Register</a></li>
                        <li><a href="signin.html">Profile</a></li>
                        <li><a href="signin.html">Inbox</a></li>
                        <li><a href="signin.html">Following</a></li>
                        <li><a href="signin.html">Followers</a></li>
                        <li><a href="signin.html">Reservations</a></li>
                        <li><a href="contact.html">Logout</a></li>
                    </ul>
                </div>
                <!--/.navbar-collapse-->
            </nav>
            <div class="search-box">
                <div id="sb-search" class="sb-search">
                    <form>
                        <input class="sb-search-input" placeholder="Enter your search term..." type="search"
                               name="search" id="search">
                        <input class="sb-search-submit" type="submit" value="">
                        <span class="sb-icon-search"> </span>
                    </form>
                </div>
            </div>
            <div class="clearfix"></div>

            <!-- search-scripts -->
            <script src="js/classie.js"></script>
            <script src="js/uisearch.js"></script>
            <script>
                new UISearch(document.getElementById('sb-search'));
            </script>
            <!-- //search-scripts -->

        </div>
    </div>
</div>
<!-- banner -->
<!-- registration -->
<div class="main-1">
    <div class="container">
        <div class="register">
            <div ng-show="model.error" class="alert alert-danger">
                {{model.error}}
            </div>
            <div ng-show="model.message" class="alert alert-info">
                {{model.message}}
            </div>
            <form ng-class="{'submitted': submitted}">
                <div class="register-top-grid">
                    <h3>PERSONAL INFORMATION</h3>


                    <div class="wow fadeInLeft" data-wow-delay="0.4s">
                        <label for="firstname"><span>First Name</span></label>
                        <input
                                ng-model="user.firstName"
                                type="text"
                                id="firstname"
                                autocomplete="off"
                                autocorrect="off"
                                autocapitalize="off"
                                spellcheck="false"
                                placeholder="Alice"
                        >
                    </div>
                    <div class="wow fadeInRight" data-wow-delay="0.4s">
                        <label for="lastname"><span>Last Name</span></label>
                        <input
                                ng-model="user.lastName"
                                type="text"
                                id="lastname"
                                autocomplete="off"
                                autocorrect="off"
                                autocapitalize="off"
                                spellcheck="false"
                                placeholder="WonderLand"
                        >
                    </div>

                    <div class="wow fadeInRight" data-wow-delay="0.4s">
                        <label for="username"><span>Username*</span></label>
                        <input
                                ng-model="user.username"
                                type="text"
                                id="username"
                                autocomplete="off"
                                autocorrect="off"
                                autocapitalize="off"
                                spellcheck="false"
                                placeholder="alice_wonder"
                                required>
                        <div ng-show="model.usernamemessage" class="alert alert-info">{{model.usernamemessage}}</div>
                    </div>

                    <div class="wow fadeInRight" data-wow-delay="0.4s">
                        <label for="email"><span>Email Address</span></label>
                        <input ng-model="user.email"
                               type="text"
                               id="email"
                               autocomplete="off"
                               autocorrect="off"
                               autocapitalize="off"
                               spellcheck="false"
                               placeholder="alice@gmail.com"
                        >
                    </div>
                    <div class="clearfix"></div>
                    <a class="news-letter" href="#">
                        <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i>Sign Up for
                            Newsletter</label>
                    </a>
                </div>
                <div class="register-bottom-grid">
                    <h3>LOGIN INFORMATION</h3>
                    <div class="wow fadeInLeft" data-wow-delay="0.4s">
                        <label for="password"><span>Password*</span></label>
                        <input ng-model="user.password"
                               type="password"
                               id="password"
                               autocomplete="off"
                               autocorrect="off"
                               autocapitalize="off"
                               spellcheck="false"
                               placeholder="qwerty321"
                               required>
                        <div ng-show="model.passwordmessage" class="alert alert-info">{{model.passwordmessage}}</div>
                    </div>
                    <div class="wow fadeInRight" data-wow-delay="0.4s">
                        <label for="password2"><span>Confirm Password*</span></label>
                        <input ng-model="user.password2"
                               type="password"
                               id="password2"
                               autocomplete="off"
                               autocorrect="off"
                               autocapitalize="off"
                               spellcheck="false"
                               placeholder="qwerty321"
                               required>
                        <div ng-show="model.passwordmessage" class="alert alert-info">{{model.passwordmessage}}</div>
                    </div>
                </div>

                <div class="clearfix"></div>
                <div class="register-but">
                    <button type="submit" class="btn btn-primary btn-block "
                            ng-click="model.register(user.firstName, user.lastName ,user.username, user.password, user.password2, user.email);submitted= true">Register
                    </button>
                    <a class="btn btn-danger  btn-block margin-top"
                       href="#!/login">Cancel</a>
                    <div class="clearfix"></div>
                </div>
            </form>

        </div>
    </div>
</div>
<!-- registration -->
<!-- footer -->
<div class="footer">
    <div class="container">
        <div class="col-md-2 deco">
            <h4>Navigation</h4>
            <li><a href="index.html">Home</a></li>
            <li><a href="shortcodes.html">Short Codes </a></li>
            <li><a href="sigin.html">Sign in</a></li>
            <li><a href="contact.html">Contact</a></li>
        </div>
        <div class="col-md-2 deco">
            <h4>Links</h4>
            <li><a href="#">Qui Sommes-Nous ?</a></li>
            <li><a href="#">Mentions Légales </a></li>
            <li><a href="#">Conditions D'Utilisation </a></li>
        </div>
        <div class="col-md-2 deco">
            <h4>Social</h4>
            <div class="soci">
                <li><a href="#"><i class="f-1"> </i></a></li>
                <li><a href="#"><i class="t-1"> </i></a></li>
                <li><a href="#"><i class="g-1"> </i></a></li>
            </div>
        </div>
        <div class="col-md-3 cardss">
            <h4>Payment Sécure</h4>
            <li><i class="visa"></i></li>
            <li><i class="ma"></i></li>
            <li><i class="paypal"></i></li>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-3 pos">
            <h4>NewsLetter</h4>
            <form method="post">
                <input type="text" class="textbox" value="Email" onfocus="this.value = '';"
                       onblur="if (this.value == '') {this.value = 'Email';}">
                <div class="smt">
                    <input type="submit" value="Subscribe">
                </div>
            </form>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="footer-bottom">
    <div class="container">
        <p>© 2015 Motel. All Rights Reserved | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a>
        </p>
    </div>
</div>