<div class="banner1">
    <div class="header">
        <div class="container">
            <div class="logo">
                <h1><a href="#!/">Hotel League</a></h1>
                <h3 ng-if="model.currentUser.username"
                    class="pull-left wd-login-user-name-margin wd-login-user-name-styling "><a href=""
                                                                                              class="wd-login-user-name-styling wd-remove-text-overflowing">Welcome&nbsp;&nbsp;{{model.currentUser.username}}!</a>
                </h3>
            </div>
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1,#bs-example-navbar-collapse-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!--/.navbar-header-->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav ">
                        <li><a href="#!/">Home</a></li>
                        <li ng-if="model.currentUser.roles.indexOf('ADMIN') > -1"><a href="#!/admin">Admin</a></li>
                        <li ng-show="!model.currentUser._id"><a href="#!/login">Login</a></li>
                        <li ng-show="!model.currentUser._id"><a href="#!/register">Register</a></li>
                        <li ng-show="model.currentUser._id"><a href="#!/profile">Profile</a></li>
                        <li ng-show="model.currentUser._id"><a href="#!/inbox">Inbox<sup
                                style="background-color: yellow;color: red;border-radius:15px 50px;"
                                ng-show="model.newMessageCountVar > 0" class="wd-remove-text-overflowing">{{model.newMessageCountVar}}</sup></a>
                        </li>
                        <li ng-show="model.currentUser._id"><a ng-click="model.logout()" href="">Logout</a></li>
                    </ul>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                    <ul class="nav navbar-nav ">
                        <li ng-show="model.currentUser._id"><a href="#!/people">People</a></li>
                        <li ng-show="model.currentUser._id"><a href="#!/following">Following</a></li>
                        <li class="active" ng-show="model.currentUser._id"><a href="#!/follower">Followers</a></li>
                        <li ng-show="model.currentUser._id"><a href="#!/reservation">Bookings</a></li>
                    </ul>
                </div>
                <!--/.navbar-collapse-->
            </nav>

        </div>
    </div>
</div>
<!-- banner -->

<div class=" container-fluid wd-bottom-margin-footer-overlap">
    <ul class="nav nav-tabs nav-justified">
        <li class="active"><a data-toggle="tab" data-target="#wd-search-people-review-id" ng-click="" href=""><h1
                class="card-subtitle mb-2 text-muted wd-custom-text-Tab-label-setting ">Followers</h1></a></li>
    </ul>
    <div class="tab-content">
        <div id="wd-search-people-review-id" class="tab-pane fade in active">
            <div class="container">
                <div class="row" ng-show="model.currentUser.followedBy.length > 0">
                    <!--<h3 class="wd-button-margin wd-email-messagetomessage-subject">Followers&nbsp;:&nbsp;</h3>-->
                    <div class="wd-latest-flipping-trial-card-container col-xs-12 " ng-repeat="user in model.followers">
                        <div class=" wd-latest-flipping-trial-card wd-tile-shadow">
                            <div class="wd-latest-flipping-trial-front">
                                <div class="container-fluid">
                                    <img src="/images/user.png" class="img-circle wd-profile-image-border"
                                         alt="Cinque Terre" width="20%" height="150">
                                    <h3 class="wd-button-margin wd-remove-text-overflowing">Name : {{user.firstName}}&nbsp;&nbsp;{{user.lastName}}</h3>
                                    <h5 class="wd-review-title-color wd-remove-text-overflowing wd-heading-bottom-margin">
                                        Username : {{user.username}}</h5>
                                </div>
                                <h5 class="wd-tile-footer-info wd-remove-text-overflowing"
                                    ng-show="user.followedBy.indexOf(model.currentUser._id) >= 0">Note: Hover for
                                    details or Unfollow.</h5>
                                <h5 class="wd-tile-footer-info wd-remove-text-overflowing"
                                    ng-show="user.followedBy.indexOf(model.currentUser._id) < 0">Note: Hover for details
                                    or Follow.</h5>
                                <i class="fa fa-users wd-positive-thumb pull-left wd-remove-text-overflowing wd-title-shadow wd-card-padding"
                                   ng-show="user.followedBy.indexOf(model.currentUser._id) >= 0" aria-hidden="true"></i>
                                <h5 class=" wd-positive-thumb pull-left wd-remove-text-overflowing wd-title-shadow wd-card-padding"
                                    ng-show="user.followedBy.indexOf(model.currentUser._id) >= 0">Following</h5>
                                <i class="fa fa-users wd-negative-thumb pull-left wd-remove-text-overflowing wd-title-shadow wd-card-padding"
                                   ng-show="user.followedBy.indexOf(model.currentUser._id) < 0" aria-hidden="true"></i>
                                <h5 class=" wd-negative-thumb pull-left wd-remove-text-overflowing wd-title-shadow wd-card-padding"
                                    ng-show="user.followedBy.indexOf(model.currentUser._id) < 0">Not Following</h5>

                            </div>
                            <div class="wd-latest-flipping-trial-back">

                                <div class="container-fluid wd-search-people-window-formatting">
                                    <div class="wd-button-margin nowrapping" ng-show="user.firstName">
                                        <h3 class=" wd-email-messagetomessage-subject wd-remove-text-overflowing">First
                                            Name&nbsp;:&nbsp; </h3>
                                        <p><span class="wd-email-message-subject wd-remove-text-overflowing"
                                                 style="color: #169F12;font-size: 135%;">{{user.firstName}}</span></p>
                                    </div>
                                    <div class=" wd-button-margin nowrapping" ng-show="user.lastName">
                                        <h3 class=" wd-email-messagetomessage-subject wd-remove-text-overflowing">Last
                                            Name&nbsp;:&nbsp;</h3>
                                        <p><span class="wd-email-message-subject wd-remove-text-overflowing"
                                                 style="color: #169F12;font-size: 135%;">{{user.lastName}}</span></p>
                                    </div>
                                    <div class="wd-button-margin nowrapping" ng-show="user.username">
                                        <h3 class=" wd-email-messagetomessage-subject wd-remove-text-overflowing">
                                            Username&nbsp;:&nbsp;</h3>
                                        <p><span class="wd-email-message-subject wd-remove-text-overflowing"
                                                 style="color: #169F12;font-size: 135%;">{{user.username}}</span></p>
                                    </div>
                                    <div class="wd-button-margin nowrapping" ng-show="user.emailId">
                                        <h3 class=" wd-email-messagetomessage-subject wd-remove-text-overflowing">Email&nbsp;:&nbsp;</h3>
                                        <p><span class="wd-email-message-subject wd-remove-text-overflowing"
                                                 style="color: #169F12;font-size: 135%;">{{user.emailId}}</span></p>
                                    </div>
                                    <div class="wd-button-margin nowrapping" ng-show="user.phone">
                                        <h3 class=" wd-email-messagetomessage-subject wd-remove-text-overflowing">Phone&nbsp;:&nbsp;</h3>
                                        <p><span class="wd-email-message-subject wd-remove-text-overflowing"
                                                 style="color: #169F12;font-size: 135%;">{{user.phone}}</span></p>
                                    </div>
                                    <div class="wd-button-margin nowrapping" ng-show="user.roles.length > 0">
                                        <h3 class=" wd-email-messagetomessage-subject wd-remove-text-overflowing">Roles&nbsp;:&nbsp;</h3>
                                        <p><span class="wd-email-message-subject wd-remove-text-overflowing"
                                                 style="color: #169F12;font-size: 135%;" ng-repeat="role in user.roles">{{role}}</span>
                                        </p>
                                    </div>
                                    <div class="wd-button-margin nowrapping" ng-show="user.favoriteHotel.length > 0">
                                        <h3 class=" wd-email-messagetomessage-subject wd-remove-text-overflowing">
                                            Favorite Hotel&nbsp;:&nbsp;</h3>
                                        <p><span class="wd-email-message-subject wd-remove-text-overflowing"
                                                 style="color: #169F12;font-size: 135%;"
                                                 ng-repeat="hotel in user.favoriteHotel">{{hotel}}</span></p>
                                    </div>
                                    <div class="wd-button-margin ">
                                        <button type="button" class="btn btn-success"
                                                ng-click="model.addAsFollower(user)"
                                                ng-show="user.followedBy.indexOf(model.currentUser._id) < 0">Follow
                                        </button>
                                        <button type="button" class="btn btn-danger"
                                                ng-click="model.removeAsFollower(user)"
                                                ng-show="user.followedBy.indexOf(model.currentUser._id) >= 0">Unfollow
                                        </button>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>

</div>

<div class="footer-bottom footer navbar-fixed-bottom">
    <div class="container">
        <p>© 2017 Hotel League. All Rights Reserved | Design by <a href="" target="_blank">Akshay Singh</a>
        </p>
    </div>
    <div class="clearfix"></div>
</div>