<div class="banner1">
    <div class="header">
        <div class="container">
            <div class="logo">
                <h1><a href="index.html">Motel</a></h1>
            </div>
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1,#bs-example-navbar-collapse-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!--/.navbar-header-->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav ">
                        <li ><a href="#!/">Home</a></li>
                        <li ng-if="model.currentUser.roles.indexOf('ADMIN') > -1"><a href="rooms.html">Admin</a></li>
                        <li ng-show="!model.currentUser._id"><a href="#!/login">Login</a></li>
                        <li ng-show="!model.currentUser._id"><a href="#!/register">Register</a></li>
                        <li ng-show="model.currentUser._id"><a href="#!/profile">Profile</a></li>
                        <li ng-show="model.currentUser._id"><a href="#!/inbox">Inbox</a></li>
                        <li class="active" ng-show="model.currentUser._id"><a href="#!/people">People</a></li>
                        <li ng-show="model.currentUser._id"><a ng-click="model.logout()" href="">Logout</a></li>
                    </ul>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                    <ul class="nav navbar-nav ">
                        <li ng-show="model.currentUser._id"><a href="">Search People</a></li>
                        <li ng-show="model.currentUser._id"><a href="">Following</a></li>
                        <li ng-show="model.currentUser._id"><a href="">Followers</a></li>
                        <li ng-show="model.currentUser._id"><a href="">Reservations</a></li>
                    </ul>
                </div>
                <!--/.navbar-collapse-->
            </nav>
            <div class="search-box">
                <div id="sb-search" class="sb-search">
                    <form>
                        <input class="sb-search-input" placeholder="Enter your search term..." type="search" name="search" id="search">
                        <input class="sb-search-submit" type="submit" value="">
                        <span class="sb-icon-search"> </span>
                    </form>
                </div>
            </div>
            <div class="clearfix"> </div>

            <!-- search-scripts -->
            <script src="js/classie.js"></script>
            <script src="js/uisearch.js"></script>
            <script>
                new UISearch( document.getElementById( 'sb-search' ) );
            </script>
            <!-- //search-scripts -->

        </div>
    </div>
</div>
<!-- banner -->

<div class="login-page">
    <div class="container">
        <div class="account_grid">
            <div class="col-md-6 login-right wow fadeInLeft" data-wow-delay="0.4s">
                <h3>SEARCH PEOPLE</h3>
                <div ng-show="model.message" class="alert alert-info">{{model.message}}</div>
                <div ng-show="model.error" class="alert alert-danger">{{model.error}}</div>
                <div>
                <form ng-class="{'submitted': submitted}">
                    <div>
                        <label for="username_search"><span>Enter Person Username*</span></label>
                        <input ng-model ="user.username"
                               type="text"
                               autocomplete="off"
                               autocorrect="off"
                               autocapitalize="off"
                               spellcheck="false"
                               id="username_search"
                               placeholder="ironman321"
                               required>
                        <div ng-show="model.usernamemessage" class="alert alert-info">{{model.usernamemessage}}</div>
                    </div>
                    <div>
                        <input ng-click ="model.searchUser(user.username);submitted= true" type="submit" value="Search">
                    </div>
                </form>
                </div>





                    <div  ng-show="model.foundUsers">
                        <div>
                        <ul class="list-group wd-tile-shadow">
                            <li class="list-group-item active"><h2>Search Results:</h2></li>
                            <li ng-repeat="user in model.foundUsers" class="list-group-item"><button ng-click="model.showUserDetails(user)" type="button" class="btn btn-link"><h2>{{user.firstName}} {{user.lastName}}</h2></button></li>
                        </ul>
                        </div>

                    </div>



            </div>
            <!--class="wd-tile-shadow"-->
            <div class="col-md-6 login-right wow fadeInRight" data-wow-delay="0.4s">
                <div ng-show="model.showUserDetailsFlag">
                    <div class="wd-tile-shadow">
                        <div>
                            <ul class="list-group">
                                <li class="list-group-item active"><h2>User Details</h2></li>
                                <li class="list-group-item"><h4>Username : {{model.thisusername}}</h4></li>
                                <li class="list-group-item"><h4>First Name : {{model.thisfirstName}}</h4></li>
                                <li class="list-group-item"><h4>Last Name : {{model.thislastName}}</h4></li>
                                <li class="list-group-item"><h4>Email Id : {{model.thisemailId}}</h4></li>
                                <li class="list-group-item"><h4>Phone : {{model.thisphone}}</h4></li>
                            </ul>
                        </div>
                    </div>
                </div>


                <div ng-show="model.message" class="alert alert-info">{{model.message}}</div>
                <div ng-show="model.error" class="alert alert-danger">{{model.error}}</div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- footer -->
<div class="footer">
    <div class="container">
        <div class="col-md-2 deco">
            <h4>Navigation</h4>
            <li><a href="index.html">Home</a></li>
            <li><a href="shortcodes.html">Short Codes </a></li>
            <li><a href="sigin.html">Sign in</a></li>
            <li><a href="contact.html">Contact</a></li>
        </div>
        <div class="col-md-2 deco">
            <h4>Links</h4>
            <li><a href="#">Qui Sommes-Nous ?</a></li>
            <li><a href="#">Mentions Légales </a></li>
            <li><a href="#">Conditions D'Utilisation </a></li>
        </div>
        <div class="col-md-2 deco">
            <h4>Social</h4>
            <div class="soci">
                <li><a href="#"><i class="f-1"> </i></a></li>
                <li><a href="#"><i class="t-1"> </i></a></li>
                <li><a href="#"><i class="g-1"> </i></a></li>
            </div>
        </div>
        <div class="col-md-3 cardss">
            <h4>Payment Sécure</h4>
            <li><i class="visa"></i></li>
            <li><i class="ma"></i></li>
            <li><i class="paypal"></i></li>
            <div class="clearfix"> </div>
        </div>
        <div class="col-md-3 pos">
            <h4>NewsLetter</h4>
            <form method="post">
                <input type="text" class="textbox" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}">
                <div class="smt">
                    <input type="submit" value="Subscribe">
                </div>
            </form>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<div class="footer-bottom">
    <div class="container">
        <p>© 2015 Motel. All Rights Reserved | Design by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
    </div>
</div>