<div class="banner1">
    <div class="header">
        <div class="container">
            <div class="logo">
                <h1><a href="index.html">Motel</a></h1>
            </div>
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1,#bs-example-navbar-collapse-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!--/.navbar-header-->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav ">
                        <li class="active"><a href="#!/">Home</a></li>
                        <li ng-if="model.currentUser.roles.indexOf('ADMIN') > -1"><a href="rooms.html">Admin</a></li>
                        <li ng-show="!model.currentUser._id"><a href="#!/login">Login</a></li>
                        <li ng-show="!model.currentUser._id"><a href="#!/register">Register</a></li>
                        <li ng-show="model.currentUser._id"><a href="#!/profile">Profile</a></li>
                        <li ng-show="model.currentUser._id"><a href="#!/inbox">Inbox</a></li>
                        <!--<li ng-show="model.currentUser._id"><a href="signin.html">Following</a></li>
                        <li ng-show="model.currentUser._id"><a href="signin.html">Followers</a></li>
                        <li ng-show="model.currentUser._id"><a href="signin.html">Reservations</a></li>-->
                        <li ng-show="model.currentUser._id"><a href="#!/people">People</a></li>
                        <li ng-show="model.currentUser._id"><a ng-click="model.logout()" href="">Logout</a></li>
                    </ul>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                    <ul class="nav navbar-nav ">
                        <!--<li class="active"><a href="#!/">Home</a></li>
                        <li ng-if="model.currentUser.roles.indexOf('ADMIN') > -1"><a href="rooms.html">Admin</a></li>
                        <li ng-show="!model.currentUser._id"><a href="#!/login">Login</a></li>
                        <li ng-show="!model.currentUser._id"><a href="#!/register">Register</a></li>
                        <li ng-show="model.currentUser._id"><a href="signin.html">Profile</a></li>
                        <li ng-show="model.currentUser._id"><a href="signin.html">Inbox</a></li>-->
                        <li ng-show="model.currentUser._id"><a href="">Following</a></li>
                        <li ng-show="model.currentUser._id"><a href="">Followers</a></li>
                        <li ng-show="model.currentUser._id"><a href="">Reservations</a></li>
                        <!--<li ng-show="model.currentUser._id"><a href="contact.html">Logout</a></li>-->
                    </ul>
                </div>
                <!--/.navbar-collapse-->
            </nav>
            <div class="search-box">
                <div id="sb-search" class="sb-search">
                    <form>
                        <input class="sb-search-input" placeholder="Enter your search term..." type="search"
                               name="search" id="search">
                        <input class="sb-search-submit" type="submit" value="">
                        <span class="sb-icon-search"> </span>
                    </form>
                </div>
            </div>
            <div class="clearfix"></div>

            <!-- search-scripts -->
            <script src="js/classie.js"></script>
            <script src="js/uisearch.js"></script>
            <script>
                new UISearch(document.getElementById('sb-search'));
            </script>
            <!-- //search-scripts -->

        </div>
    </div>
</div>
<!-- banner -->
<!-- details -->
<div class="details">
    <div class="container">
        <div class="col-md-7 details-left">
            <img src="{{model.hotelObject.photoUrl}}" class="img-responsive center-block wd-image-shadow" alt="">
            <!--<img src="images/16.jpg" class="img-responsive" alt="">-->
        </div>
        <div class="col-md-5 details-right">
            <span><strong>{{model.hotelObject.hotelName}}</strong></span>
            <li>Is Open : {{model.hotelObject.openStatus}}</li>
            <li>{{model.hotelObject.phoneNumber}}</li>
            <li>{{model.hotelObject.hotelAddress}}</li>
        </div>
        <iframe
                width="450"
                height="250"
                frameborder="0" style="border:0"
                src={{model.mapUrlIframe}} allowfullscreen>
        </iframe>
        <div class="clearfix"></div>
        <div class="details-top">
            <!--<h3>Lorem Ipsum has been the industry's standard dummy tex</h3>
            <h5>Buy the online room booking, save 2 euro and skip the line!</h5>
            <h6>Validity : from 1 January 2015 to 31 August 2015</h6>
            <h4>Included</h4>-->
            <li ng-repeat="timing in model.hotelObject.weekHours">{{timing}}</li>
            <!--<li>publishing packages and web .Many desktop publishing packages and web page editors </li>
            <h4>Not included</h4>
            <li> will uncover many web sites still in their infancy. Various versions have evolved over the years,</li>
            <h4>Additional information</h4>-->

        </div>

        <div class="container-fluid">
            <ul class="nav nav-tabs nav-justified">
                <li class="active"><a data-toggle="tab" data-target="#wd-booking-id" ng-click="" href="">Hotel
                    Booking</a></li>
                <li><a data-toggle="tab" data-target="#wd-compose-review-id" href="">Hotel Review</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade in active" id="wd-booking-id">
                    <div class="booking-form">
                        <div ng-show="model.error" class="alert alert-danger">{{model.error}}</div>
                        <div ng-show="model.successMessage" class="alert alert-success">{{model.successMessage}}</div>
                        <div class="col-md-6">
                            <form>
                                <div ng-show="model.nameMessage" class="alert alert-danger">{{model.nameMessage}}</div>
                                <h5>NAME</h5>
                                <input type="text" value="" ng-model="model.customer.name">
                                <h5>SUR NAME</h5>
                                <input type="text" value="" ng-model="model.customer.surname">
                                <div ng-show="model.contactMessage" class="alert alert-danger">
                                    {{model.contactMessage}}
                                </div>
                                <h5>E-MAIL</h5>
                                <input type="text" value="" ng-model="model.customer.email">
                                <h5>PHONE</h5>
                                <input type="text" value="" ng-model="model.customer.phone">
                            </form>
                        </div>
                        <div class="col-md-6">
                            <form>
                                <div ng-show="model.checkinMessage" class="alert alert-danger">
                                    {{model.checkinMessage}}
                                </div>
                                <h5>CHECK IN</h5>
                                <select class="arrival" ng-model="model.customer.checkinDate">
                                    <option>01</option>
                                    <option>02</option>
                                    <option>03</option>
                                    <option>04</option>
                                    <option>05</option>
                                    <option>06</option>
                                    <option>08</option>
                                    <option>09</option>
                                    <option>10</option>
                                    <option>11</option>
                                    <option>12</option>
                                    <option>13</option>
                                    <option>14</option>
                                    <option>15</option>
                                    <option>16</option>
                                    <option>17</option>
                                    <option>18</option>
                                    <option>19</option>
                                    <option>20</option>
                                    <option>21</option>
                                    <option>22</option>
                                    <option>23</option>
                                    <option>24</option>
                                    <option>25</option>
                                    <option>26</option>
                                    <option>27</option>
                                    <option>28</option>
                                    <option>29</option>
                                    <option>30</option>
                                    <option>31</option>
                                </select>
                                <select class="arrival" ng-model="model.customer.checkinMonth">
                                    <option value="1">Jan</option>
                                    <option value="2">Feb</option>
                                    <option value="3">Mar</option>
                                    <option value="4">Apr</option>
                                    <option value="5">May</option>
                                    <option value="6">June</option>
                                    <option value="7">July</option>
                                    <option value="8">Aug</option>
                                    <option value="9">Sep</option>
                                    <option value="10">Oct</option>
                                    <option value="11">Nov</option>
                                    <option value="12">Dec</option>
                                </select>
                                <select class="arrival" ng-model="model.customer.checkinYear">
                                    <option>2017</option>
                                    <option>2018</option>
                                    <option>2019</option>
                                    <option>2020</option>
                                    <option>2021</option>
                                    <option>2022</option>
                                </select>
                                <div ng-show="model.checkoutMessage" class="alert alert-danger">
                                    {{model.checkoutMessage}}
                                </div>
                                <h5>CHECK OUT</h5>
                                <select class="arrival" ng-model="model.customer.checkoutDate">
                                    <option>01</option>
                                    <option>02</option>
                                    <option>03</option>
                                    <option>04</option>
                                    <option>05</option>
                                    <option>06</option>
                                    <option>08</option>
                                    <option>09</option>
                                    <option>10</option>
                                    <option>11</option>
                                    <option>12</option>
                                    <option>13</option>
                                    <option>14</option>
                                    <option>15</option>
                                    <option>16</option>
                                    <option>17</option>
                                    <option>18</option>
                                    <option>19</option>
                                    <option>20</option>
                                    <option>21</option>
                                    <option>22</option>
                                    <option>23</option>
                                    <option>24</option>
                                    <option>25</option>
                                    <option>26</option>
                                    <option>27</option>
                                    <option>28</option>
                                    <option>29</option>
                                    <option>30</option>
                                    <option>31</option>
                                </select>
                                <select class="arrival" ng-model="model.customer.checkoutMonth">
                                    <option value="1">Jan</option>
                                    <option value="2">Feb</option>
                                    <option value="3">Mar</option>
                                    <option value="4">Apr</option>
                                    <option value="5">May</option>
                                    <option value="6">June</option>
                                    <option value="7">July</option>
                                    <option value="8">Aug</option>
                                    <option value="9">Sep</option>
                                    <option value="10">Oct</option>
                                    <option value="11">Nov</option>
                                    <option value="12">Dec</option>
                                </select>
                                <select class="arrival" ng-model="model.customer.checkoutYear">
                                    <option>2017</option>
                                    <option>2018</option>
                                    <option>2019</option>
                                    <option>2020</option>
                                    <option>2021</option>
                                    <option>2022</option>
                                </select>
                                <div ng-show="model.MemberCountMessage" class="alert alert-danger">
                                    {{model.MemberCountMessage}}
                                </div>
                                <h5 class="mem">MEMBERS</h5>
                                <select class="arrival " ng-model="model.customer.MemberCount">
                                    <option selected="selected" value=1>1</option>
                                    <option value=2>2</option>
                                    <option value=3>3</option>
                                    <option value=4>4</option>
                                    <option value=5>5</option>
                                    <option value=6>6</option>
                                </select>
                                <!--<input min="1" type="number" id="quantity" name="quantity" value="1" class="form-control input-small" ng-model="model.customer.MemberCount">-->
                                <h5>REQUIRED</h5>
                                <textarea value="" ng-model="model.customer.Instructions"></textarea>
                                <input type="submit" value="Submit" ng-click="model.createBooking(model.customer)">
                                <input type="reset" value="Reset">
                            </form>
                        </div>

                    </div>
                </div>


                <div id="wd-compose-review-id" class="tab-pane fade">
                    <div class="container">
                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-target="#collapse1" type="button" class="btn btn-warning btn-block" href="">Click to Write A Review.</a>
                                    </h4>
                                </div>
                                <div id="collapse1" class="panel-collapse collapse">
                                    <div class="container-fluid">
                                        <h3>Review : </h3>
                                        <div ng-show="model.Reviewerror" class="alert alert-danger">
                                            {{model.Reviewerror}}
                                        </div>
                                        <div ng-show="model.ReviewsuccessMessage" class="alert alert-success">
                                            {{model.ReviewsuccessMessage}}
                                        </div>
                                        <form ng-class="{'submitted': model.Reviewsubmitted}">
                                            <label class="wd-custom-label-color" for="Title">Title :</label>
                                            <div ng-show="model.ReviewTitleMessage" class="alert alert-info">
                                                {{model.ReviewTitleMessage}}
                                            </div>
                                            <input class="input-group "
                                                   placeholder="abc"
                                                   id="Title"
                                                   ng-model="reviewObject.ReviewTitle"
                                                   required/>
                                            <div ng-show="model.messageReviewContent" class="alert alert-info">
                                                {{model.messageReviewContent}}
                                            </div>

                                            <label class="wd-custom-label-color" for="Content">Review Content :</label>
                                            <textarea class="input-group"
                                                      placeholder="review details"
                                                      ng-model="reviewObject.ReviewContent"
                                                      id="Content" rows="8"></textarea>

                                            <button type="submit" class="btn btn-success btn-block "
                                                    ng-click="model.createReview(reviewObject)">Post Review
                                            </button>
                                        </form>

                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container-fluid">

                        <!--<div class="card text-center" ng-repeat="review in model.reviews" style="background-color: lightsalmon; border-color: black;">
                            <div class="card-header">
                                {{review.reviewer}} says:
                            </div>
                            <div class="card-block">
                                <h4 class="card-title">{{review.ReviewTitle}}</h4>
                                <p class="card-text">{{review.ReviewContent}}</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                            &lt;!&ndash;<div class="card-footer text-muted">
                                2 days ago
                            </div>&ndash;&gt;
                        </div>-->

                        <!--<div class="row">
                            <div class="col-sm-6 card wd-tile-shadow " ng-repeat="review in model.reviews" >
                                <div class=" wd-card-margin">
                                    <div class="card-block">
                                        <h3 class="card-title">{{review.reviewer}} says:</h3>
                                        &lt;!&ndash;<h3 class="card-title">{{review.ReviewTitle}}</h3>&ndash;&gt;
                                        <p class="card-text">{{review.ReviewContent}}</p>
                                        <a href="" class="btn btn-primary wd-button-margin">Go somewhere</a>
                                    </div>
                                </div>
                            </div>
                        </div>-->






                        <div class="row">
                            <div class="wd-latest-flipping-trial-card-container col-sm-6 " ng-repeat="review in model.reviews">
                            <div class=" wd-latest-flipping-trial-card wd-tile-shadow" >
                                <div class="wd-latest-flipping-trial-front">
                                    <img src="/images/user.png" class="img-circle wd-profile-image-border" alt="Cinque Terre" width="250" height="200">
                                    <h3>{{review.reviewer}} says:</h3>
                                    <h5>{{review.ReviewTitle}}</h5>
                                    <div></div>
                                    <i class="fa fa-thumbs-up pull-left fa-2x wd-thumbs-margin wd-positive-thumb" aria-hidden="true"></i>
                                    <h5 class="pull-left wd-positive-thumb">Likes</h5>
                                    <i class="fa fa-thumbs-down pull-right fa-2x wd-thumbs-margin wd-negative-thumb" aria-hidden="true"></i>
                                    <h5 class="pull-right wd-negative-thumb">Dislikes</h5>
                                    <h5 class="wd-tile-footer-info">Note: Bring the mouse pointer on tile for detailed review.</h5>
                                </div>
                                <div class="wd-latest-flipping-trial-back">
                                    <h3 class="wd-review-detail-margin-top">{{review.ReviewContent}}</h3>
                                    <button type="button" class="btn btn-success">Like Review</button>
                                    <button type="button" class="btn btn-danger">Dislike Review</button>

                                </div>
                            </div>
                            </div>
                        </div>







<!--
                        <div class="row">
                            <div ng-repeat="review in model.reviews">
                            <div class="col-sm-6 " >
                                <div class="flip ">
                                    <div class="card wd-tile-shadow">
                                        <div class="face front">
                                            <div class="inner text-center">
                                                &lt;!&ndash;<img src="http://vinculumgroup.com/v2/wp-content/uploads/2015/08/nykaa.jpg">&ndash;&gt;
                                                <img src="/images/user.png" class="img-circle wd-profile-image-border" alt="Cinque Terre" width="325" height="275">
                                                <h3>{{review.reviewer}} says:</h3>
                                                    &lt;!&ndash;<img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%2859%29.jpg" class="img-fluid">&ndash;&gt;
                                            </div>
                                        </div>
                                        <div class="face back">
                                            <div class="inner text-center">
                                                <h3>Improved efficiency through automation</h3>
                                                <button type="button" class="btn btn-default">Know More</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                            &lt;!&ndash;<div class="col-sm-6 " >
                                <div class="flip ">
                                    <div class="card wd-tile-shadow">
                                        <div class="face front">
                                            <div class="inner text-center">
                                                &lt;!&ndash;<img src="http://vinculumgroup.com/v2/wp-content/uploads/2015/08/nykaa.jpg">&ndash;&gt;
                                                <img src="/images/user.png" class="img-circle wd-profile-image-border" alt="Cinque Terre" width="325" height="275">
                                                <h3>{{review.reviewer}} says:</h3>
                                                &lt;!&ndash;<img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%2859%29.jpg" class="img-fluid">&ndash;&gt;
                                            </div>
                                        </div>
                                        <div class="face back">
                                            <div class="inner text-center">
                                                <h3>Improved efficiency through automation</h3>
                                                <button type="button" class="btn btn-default">Know More</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>&ndash;&gt;
                        </div>-->































                        <!--<div ng-repeat="review in model.reviews">
                            <h1>{{review.reviewer}} says:</h1>
                            <h4>{{review.ReviewTitle}}</h4>
                            <p>{{review.ReviewContent}}</p>
                        </div>-->

                    </div>




                </div>
            </div>

        </div>


    </div>
</div>
<!-- details -->
<!-- footer -->
<div class="footer">
    <div class="container">
        <div class="col-md-2 deco">
            <h4>Navigation</h4>
            <li><a href="index.html">Home</a></li>
            <li><a href="shortcodes.html">Short Codes </a></li>
            <li><a href="sigin.html">Sign in</a></li>
            <li><a href="contact.html">Contact</a></li>
        </div>
        <div class="col-md-2 deco">
            <h4>Links</h4>
            <li><a href="#">Qui Sommes-Nous ?</a></li>
            <li><a href="#">Mentions Légales </a></li>
            <li><a href="#">Conditions D'Utilisation </a></li>
        </div>
        <div class="col-md-2 deco">
            <h4>Social</h4>
            <div class="soci">
                <li><a href="#"><i class="f-1"> </i></a></li>
                <li><a href="#"><i class="t-1"> </i></a></li>
                <li><a href="#"><i class="g-1"> </i></a></li>
            </div>
        </div>
        <div class="col-md-3 cardss">
            <h4>Payment Sécure</h4>
            <li><i class="visa"></i></li>
            <li><i class="ma"></i></li>
            <li><i class="paypal"></i></li>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-3 pos">
            <h4>NewsLetter</h4>
            <form method="post">
                <input type="text" class="textbox" value="Email" onfocus="this.value = '';"
                       onblur="if (this.value == '') {this.value = 'Email';}">
                <div class="smt">
                    <input type="submit" value="Subscribe">
                </div>
            </form>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="footer-bottom">
    <div class="container">
        <p>© 2015 Motel. All Rights Reserved | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a>
        </p>
    </div>
</div>

<script>
    $('.flip').hover(function(){
        $(this).find('.card').toggleClass('flipped');

    });

</script>