
<div class="banner">
    <div class="header">
        <div class="container">
            <div class="logo">
                <h1><a href="index.html">Hotel League</a></h1>
                {{model.currentUser.username}}
            </div>
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1,#bs-example-navbar-collapse-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!--/.navbar-header-->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav ">
                        <li class="active"><a href="#!/">Home</a></li>
                        <li ng-if="model.currentUser.roles.indexOf('ADMIN') > -1"><a href="#!/admin">Admin</a></li>
                        <li ng-show="!model.currentUser._id"><a href="#!/login">Login</a></li>
                        <li ng-show="!model.currentUser._id"><a href="#!/register">Register</a></li>
                        <li ng-show="model.currentUser._id"><a href="#!/profile">Profile</a></li>
                        <li ng-show="model.currentUser._id"><a href="#!/inbox">Inbox</a></li>
                        <li ng-show="model.currentUser._id"><a ng-click="model.logout()" href="">Logout</a></li>
                    </ul>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                    <ul class="nav navbar-nav ">
                        <li ng-show="model.currentUser._id"><a href="#!/people">People</a></li>
                        <li ng-show="model.currentUser._id"><a href="#!/following">Following</a></li>
                        <li ng-show="model.currentUser._id"><a href="#!/follower">Followers</a></li>
                        <li ng-show="model.currentUser._id"><a href="#!/reservation">Bookings</a></li>
                    </ul>
                </div>
                <!--/.navbar-collapse-->
            </nav>
            <!--<div class="search-box">
                <div id="sb-search" class="sb-search">
                    <form>
                        <input class="sb-search-input" placeholder="Enter your search term..." type="search" name="search" id="search">
                        <input class="sb-search-submit" type="submit" value="">
                        <span class="sb-icon-search"> </span>
                    </form>
                </div>
            </div>
            <div class="clearfix"> </div>

            &lt;!&ndash; search-scripts &ndash;&gt;
            <script src="js/classie.js"></script>
            <script src="js/uisearch.js"></script>
            <script>
                new UISearch( document.getElementById( 'sb-search' ) );
            </script>-->
             <!--//search-scripts-->

        </div>
    </div>



        <div class="banner-info wd-search-bar-alignment">
            <div class="container">
                <div class="details-1">
                    <div class="wd-project-padding-search">
                        <div class="col-xs-12 dropdown-buttons">
                            <div class="col-xs-12 dropdown-button">
                                <div class="input-group">
                                    <label for = "city-name" ><i>City</i></label>
                                    <input class="form-control has-dark-background"
                                           ng-model="model.city"
                                           name="city-name"
                                           id="city-name"
                                           placeholder="Boston"
                                           type="text"
                                           required="">
                                </div>
                                <div class=" submit_button">
                                    <label><i></i></label>
                                    <input ng-click="model.searchNearbyHotels(model.city)" type="submit" value="Search">
                                </div>
                                <div class="wd-cancel_button">
                                    <label><i></i></label>
                                    <input ng-click="model.cancelSearch()" type="submit" value="Cancel">
                                </div>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
        </div>





    <!--<div class="banner-info wd-search-bar-alignment">
        <div class="container">
            <div class="details-1">
                <div class="wd-project-padding-search">
                <div class="col-xs-12 dropdown-buttons">
                    <div class="col-xs-12 dropdown-button">
                        <div class="input-group">
                            <label for = "city-name" ><i>City</i></label>
                            <input class="form-control has-dark-background"
                                   ng-model="model.city"
                                   name="city-name"
                                   id="city-name"
                                   placeholder="Boston"
                                   type="text"
                                   required="">
                        </div>
                        <div class=" submit_button">
                            <label><i></i></label>
                            <input ng-click="model.searchNearbyHotels(model.city)" type="submit" value="Search">
                        </div>
                        <div class="wd-cancel_button">
                            <label><i></i></label>
                            <input ng-click="model.cancelSearch()" type="submit" value="Cancel">
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        </div>
    </div>-->
</div>

    <div ng-if="model.hotels" class="tels result-area-background" >
        <h1>Search Results</h1>
        <div class="container ">
            <div class="row is-flex">
                <div class="col-xs-4 tels-left wd-menuitem-style wd-tile-shadow" ng-repeat="hotel in model.hotels">
                    <div>
                        <h4 class="wd-project-text-position-heading wd-remove-text-overflowing">{{hotel.name}} </h4>
                        <img src="https://maps.googleapis.com/maps/api/place/photo?photoreference={{hotel.photos[0].photo_reference}}&sensor=false&maxheight=200&maxwidth=200&key={{model.googleApiKey}}" class="img-responsive center-block wd-image-shadow" alt="" >
                        <label>Address : </label>
                        <p>{{hotel.formatted_address}}</p>
                        <label>Open Now : </label>
                        <p>{{hotel.opening_hours.open_now}}</p>
                        <label>Price : </label>
                        <p>{{hotel.price_level}}</p>
                        <label>Rating : </label>
                        <p>{{hotel.rating}}</p>
                    </div>
                    <div>
                        <!--<a class="hvr-shutter-in-horizontal pull-left" style="position: absolute;bottom: 5px;left: 5px" href="#!/details/{{hotel.place_id}}">Book Now</a>-->
                        <a class="hvr-shutter-in-horizontal pull-left" style="position: absolute;bottom: 5px;left: 5px" ng-click="model.gotoDetailsPage(model.hotels)">Book Now</a>
                        <!--<a class="hvr-shutter-in-horizontal pull-right" style="position: absolute;bottom: 5px;right: 5px" href="#!/information/{{hotel.place_id}}">Hotel Info.</a>-->
                        <a class="hvr-shutter-in-horizontal pull-right" style="position: absolute;bottom: 5px;right: 5px" ng-click="model.gotoInfoPage(model.hotels)">Hotel Info.</a>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <p>© 2017 Hotel League. All Rights Reserved | Design by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
        </div>
    </div>


