<div class="banner1">
    <div class="header">
        <div class="container">
            <div class="logo">
                <h1><a href="#!/">Hotel League</a></h1>
                <h3 ng-if="model.currentUser.username"
                    class="pull-left wd-login-user-name-margin wd-login-user-name-styling "><a href=""
                                                                                              class="wd-login-user-name-styling wd-remove-text-overflowing">Welcome&nbsp;&nbsp;{{model.currentUser.username}}!</a>
                </h3>
            </div>
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1,#bs-example-navbar-collapse-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!--/.navbar-header-->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav ">
                        <li><a href="#!/">Home</a></li>
                        <li ng-if="model.currentUser.roles.indexOf('ADMIN') > -1"><a href="#!/admin">Admin</a></li>
                        <li ng-show="!model.currentUser._id"><a href="#!/login">Login</a></li>
                        <li ng-show="!model.currentUser._id"><a href="#!/register">Register</a></li>
                        <li ng-show="model.currentUser._id"><a href="#!/profile">Profile</a></li>
                        <li class="active" ng-show="model.currentUser._id"><a href="#!/inbox">Inbox<sup
                                style="background-color: yellow;color: red;border-radius:15px 50px;"
                                ng-show="model.newMessageCountVar > 0">{{model.newMessageCountVar}}</sup></a></li>
                        <li ng-show="model.currentUser._id"><a ng-click="model.logout()" href="">Logout</a></li>
                    </ul>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                    <ul class="nav navbar-nav ">
                        <li ng-show="model.currentUser._id"><a href="#!/people">People</a></li>
                        <li ng-show="model.currentUser._id"><a href="#!/following">Following</a></li>
                        <li ng-show="model.currentUser._id"><a href="#!/follower">Followers</a></li>
                        <li ng-show="model.currentUser._id"><a href="#!/reservation">Bookings</a></li>
                    </ul>
                </div>
                <!--/.navbar-collapse-->
            </nav>
        </div>
    </div>
</div>
<!-- banner -->

<div class="login-page wd-bottom-margin-footer-overlap">
    <div class="container">
        <ul class="nav nav-tabs nav-justified">
            <li class="active"><a class="wd-custom-Message-Tab-label-setting" data-toggle="tab"
                                  data-target="#wd-inbox-id" ng-click="model.reloadPage()" href="">Inbox</a></li>
            <li><a class="wd-custom-Message-Tab-label-setting" data-toggle="tab" data-target="#wd-compose-message-id"
                   href="">Compose Message</a></li>
        </ul>


        <div class="tab-content">
            <div id="wd-inbox-id" class="tab-pane fade in active">
                <div class="account_grid">
                    <div class="col-xs-12 login-right wow fadeInLeft" data-wow-delay="0.4s">
                        <h3 class="wd-email-messagetomessage-subject"
                            style="color: #814807;font-style: italic;font-weight: bold;">MESSAGE INBOX</h3>
                        <div ng-show="model.message" class="alert alert-info">{{model.message}}</div>
                        <div ng-show="model.error" class="alert alert-danger">{{model.error}}</div>
                        <ul class="list-group wd-message-border-background">
                            <li class="list-group-item wd-message-inbox-title-bar ">
                                <div class="row">

                                    <div class="text-center">
                                        <i class="fa fa-envelope" aria-hidden="true"></i>
                                        Messages
                                    </div>
                                </div>
                            </li>
                            <li ng-repeat="message in model.allMessages"
                                class="list-group-item wd-message-border-background"
                                ng-click="model.showMessageDetails(message)">


                                <div class="container-fluid">
                                    <div class="row" ng-click="model.messageOpen(message)" href="">

                                        <div class=" col-sm-3 col-xs-7 nowrapping" data-toggle="collapse"
                                             data-target="#collapseExample{{message._id}}" href="">

                                            <h2 class="wd-remove-text-overflowing wd-email-sender-title">
                                                {{message.from}} </h2>
                                            <h2>&nbsp;&nbsp;:&nbsp;&nbsp;</h2>
                                        </div>

                                        <div class=" hidden-xs  col-sm-6 nowrapping" data-toggle="collapse"
                                             data-target="#collapseExample{{message._id}}" href="">
                                            <i class="fa fa-envelope fa-2x wd-font-color-message"
                                               aria-hidden="true"></i>
                                            <span class="wd-superscript-parameter wd-title-shadow "
                                                  style="color: red"
                                                  ng-show="message.isMessageNew === 'NEW'">new!!!</span>
                                            <h2 class="wd-remove-text-overflowing wd-email-message-subject">&nbsp;&nbsp;&nbsp;&nbsp;{{message.message_title}}</h2>
                                        </div>
                                        <div class="col-xs-5 col-sm-3 ">
                                            <div class="nowrapping">
                                                <a class="btn btn-success wd-remove-text-overflowing wd-button-margin"
                                                   data-toggle="collapse"
                                                   data-target="#collapseExampleReply{{message._id}}">
                                                    Reply
                                                </a>
                                                <a class="btn btn-danger wd-remove-text-overflowing wd-button-margin"
                                                   ng-click="model.deleteMessage(message)">
                                                    Delete
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div id="collapseExampleReply{{message._id}}" class="collapse">
                                    <div class="container-fluid wd-reply-window-formatting">
                                        <h4 class="wd-heading-bottom-margin wd-email-messagetomessage-subject wd-remove-text-overflowing wd-font-weight">
                                            Reply To Message</h4>
                                        <div ng-show="model.error" class="alert alert-danger">
                                            {{model.error}}
                                        </div>
                                        <div ng-show="model.successMessage" class="alert alert-success">
                                            {{model.successMessage}}
                                        </div>
                                        <form ng-class="{'submitted': model.submitted}">
                                            <label class="wd-custom-label-color wd-email-messagetomessage-subject wd-remove-text-overflowing"
                                                   for="reply-message-content">Message:</label>
                                            <textarea class="input-group"
                                                      placeholder="Best email service."
                                                      ng-model="message_body"
                                                      id="reply-message-content" rows="8"></textarea>

                                            <button type="submit"
                                                    class="btn btn-success btn-block wd-remove-text-overflowing"
                                                    ng-click="model.replyMessage(message_body, message)">Reply
                                            </button>
                                        </form>

                                    </div>

                                </div>

                                <div class="collapse" id="collapseExample{{message._id}}">
                                    <div class="container-fluid wd-reply-window-formatting">
                                        <div class="wd-heading-bottom-margin nowrapping">
                                            <h2 class=" wd-email-messagetomessage-subject wd-remove-text-overflowing">
                                                From : </h2>
                                            <p>
                                            <h2 class="wd-email-message-subject wd-remove-text-overflowing">
                                                {{message.from}}</h2> </p>
                                        </div>
                                        <div class=" wd-heading-bottom-margin">
                                            <h2 class=" wd-email-messagetomessage-subject wd-remove-text-overflowing">
                                                Subject : </h2>
                                            <p><span class="wd-email-message-subject "
                                                     style="color: #169F12;font-size: 175%;">{{message.message_title}}</span>
                                            </p>
                                        </div>
                                        <div class="wd-heading-bottom-margin ">
                                            <h2 class=" wd-email-messagetomessage-subject wd-remove-text-overflowing">
                                                Message : </h2>
                                            <p><span class="wd-email-message-subject "
                                                     style="color: #169F12;font-size: 150%;">{{message.message_body}}</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="clearfix"></div>
                </div>

            </div>

            <div id="wd-compose-message-id" class="tab-pane fade">
                <div class="container-fluid wd-message-border-background wd-border-radius">
                    <h3 class="wd-email-messagetomessage-subject wd-font-weight wd-heading-bottom-margin">Compose
                        Message</h3>
                    <div ng-show="model.error" class="alert alert-danger">
                        {{model.error}}
                    </div>
                    <div ng-show="model.successMessage" class="alert alert-success">
                        {{model.successMessage}}
                    </div>
                    <form ng-class="{'submitted': model.submitted}">
                        <label class=" wd-email-messagetomessage-subject wd-font-size-compose" for="to">To:</label>
                        <input class="input-group wd-compose-window-formatting"
                               placeholder="abc"
                               id="to"
                               ng-model="messageObject.forUser"
                               required/>
                        <div ng-show="model.messageTo" class="alert alert-info">{{model.messageTo}}</div>
                        <label class=" wd-email-messagetomessage-subject wd-font-size-compose"
                               for="subject">Subject:</label>
                        <input class="input-group wd-compose-window-formatting"
                               placeholder="subject of message"
                               id="subject"
                               ng-model="messageObject.message_title"
                               required/>
                        <div ng-show="model.messageSubject" class="alert alert-info">{{model.messageSubject}}</div>

                        <label class=" wd-email-messagetomessage-subject wd-font-size-compose" for="message-content">Message:</label>
                        <textarea class="container-fluid  wd-vertical-scroll-textarea wd-compose-window-formatting"
                                  placeholder="Best email service."
                                  ng-model="messageObject.message_body"
                                  id="message-content" rows="8"></textarea>

                        <button type="submit" class="btn btn-success btn-block "
                                ng-click="model.createMessage(messageObject)">Create
                        </button>
                    </form>

                </div>

            </div>
        </div>
    </div>
</div>

<div class="footer-bottom footer navbar-fixed-bottom">
    <div class="container">
        <p>© 2017 Hotel League. All Rights Reserved | Design by <a href="" target="_blank">Akshay Singh</a>
        </p>
    </div>
    <div class="clearfix"></div>
</div>